<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bossmap</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="" class="ion-padding">
  <ion-card color="sir">
    <ion-card color="">


      <ion-card color="darkyellow" class="ion-padding" shape="round">
       <ion-item color="pigblood">
        <ion-input label="ชื่อผู้ใช้" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>        
      </ion-item>

      <form>
      <ion-item color="" >

        <ion-input label="รหัสผ่าน" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>        
       
      </ion-item>
      <ion-button (click)="goToJao()" style="margin-top: 25px;" expand="block" color="">เข้าสู่ระบบ</ion-button>
    </form>
    </ion-card>

   </ion-card>

  </ion-card>


  </ion-content>
