<ion-header>
  <ion-toolbar>
    <ion-title>กรุณากรอกข้อมูล</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">ชื่อ - นามสกุล</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">เบอร์โทรศัพท์</ion-label>
      <ion-input type="tel" [(ngModel)]="phone" name="phone"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" color="danger" (click)="cancel()">ยกเลิก</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="success" type="submit">ยืนยัน</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
